## Operators

- Starting with operations like Addition, Subtraction, Multiplication, and Division.
- We do addition, subtraction and multiplication with integer values, and then it gives us answers also in integer data type.
- But when performing division with integer values then it gives us an answer in float data type.
- Float stands for Floating Point Representation.
- When we divide two integer values then it might be possible that the answer can in decimal.
 e.g.,  5/2 = 2.5
- As the interpreter wants to give you an exact answer for the division also, it will return it in float.
- If you want to get only the quotient part or the integer part of the answer and want to neglect the decimal value, it can be done with the help of (//).
- // (double slash) is used for division when you want to return only an integer value in the answer.
- // is also called Integer Division or Floor Division.
- We can multiple operations in a single statement as well.
- We need to follow the proper syntax for the programming language.
- If we apply an operation but do not give operands, then it will give an error.
 8+9-        = Error
- We can also apply BODMASS rules of mathematics to perform operations.
- Double asterisks (**) is used to find the power of a number. 
 number ** power =  2**3 = 2*2*2
- To get the remainder, we use the modulus operator (%).

In [1]:
2+3

5

In [2]:
2-3

-1

In [3]:
2*3

6

In [4]:
2/3

0.6666666666666666

In [5]:
2//3

0

In [6]:
2**3

8

In [7]:
2+3-9

-4

In [8]:
2%3

2

## Strings
- String is a combination of characters like "Youtube", "Camera", "Telusko", "Python", etc., all are strings.
- Whenever we use strings, we need to use double quotes(" ") or single quotes(' ') with it in python.
- If you back-slash(\) to tell the python to ignore the special meaning of that double and single quotes.
- If you use a back-slash before a single or double quotes then the quote is also treated as a simple character.

In [9]:
"Shobika"

'Shobika'

In [10]:
"Shobika"*3

'ShobikaShobikaShobika'

In [11]:
("Shobika" + ' ')*3

'Shobika Shobika Shobika '

In [12]:
print('Shobika')

Shobika

In [13]:
print("Shobika's Laptop")

Shobika's Laptop

In [14]:
print('Shobikas "Laptop"')

Shobikas "Laptop"

In [15]:
print('Shobika\'s "Laptop"')

Shobika's "Laptop"

In [16]:
print(r'C:\docs\pc')

C:\docs\pc

## Function
- Function is a set of tasks that can be done. We need to call functions. There are several functions in Python like the print() function.
- Round brackets are used with a function to pass a parameter in it.
- We can define our own functions as well.

## Concatenation
- Concatenation is used to combine two things like we can convert two strings into one using concatenation.
- Concatenation is done using the (+) operator.
e.g., 'navin' + 'navin'

- Repetition is used to print a single value multiple times like we can print a string like "Navin" multiple times.
- Repetition is done using the (*) operator.
e.g.,  'navin' * 3

## r
- (\n) has a special meaning in Python. It is used to enter a new line.
- To print the original string or to neglect the meaning of \n, we have to use a Raw String.
- Raw string is a string that returns it as it is without making any changes to it. 
- We have to specify (r) before the quote to print the same string that is present inside the quotes.

# Variable: It is a container where we can put our value
e.g 
 x=2 #here x is variable and 2 is value
 x+3
 5
y=3

Note:If I want to use output of previous operation so we use underscore (_) 
 _+y
8  # previous output 5 and y is 3 

Use String as a variable:
-- Strings in python are surrounded by either single quotation marks, or double quotation marks.
-- e.g  "shiva" ,'shiva'

Assign String to a Variable:
-- Assigning a string to a variable is done with the variable name followed by an equal sign and the string:
name='shiva'
name
shiva

Slicing String:
we can return a range of characters by using the slice syntax.
Specify the start index and the end index, separated by a colon, to return a part of the string.

-- Get the characters from position 2 to position 5 (not included):
name='youtube'
name[2:5]
 'utu'

Slice From the Start:
name[:5] #from starting to index 5 (exclude)
 'youtu'

Slice To the End:
name[2:] #from 2nd index to end
 'utube'

Negative Indexing:

0    1   2   3    4   5   6   #positive indexing
y    o   u   t    u   b   e
-7  -6  -5  -4   -3  -2  -1   #Negative indexing 

name[-1]
'e'

 name[:-1]
 'youtub'
name[:]
 'youtube'
 name [:0]
''
name[-5:-2]
'utu' 

Concatenate String:
 name+ ' telusko'
 'youtube telusko'

In [17]:
x = 2
y = 3

In [18]:
x+y

5

In [19]:
z=x-y
z

-1

In [20]:
_ + y

2

In [21]:
name = 'shobika'
name

'shobika'

In [22]:
name + 'hi'

'shobikahi'

In [23]:
name + ' hi'

'shobika hi'

In [24]:
name[0]

's'

In [25]:
name[-1] #6

'a'

In [26]:
name[0:2]

'sh'

In [27]:
name[1:]

'hobika'

In [28]:
name[:6]

'shobik'

In [29]:
name[2:5]

'obi'

In [30]:
'name: ' + name[:]

'name: shobika'

In [31]:
len(name)

7

## Lists

- Lists are mutable
- Creation of a list in Python
- Methods available with the list
- Functions performed with a list

1
Lists are used to store multiple items in a single variable.
- We have to use a square bracket [], and in that square bracket, we can store multiple values.
- We can print the list through the variable name.
- Lists are Mutable which means values can be changed in the list.
- We can also get the single value from the list using the index value.
- The index value is 1 less than the size of a list as the index value starts from 0.
e.g., If the size of the list is 5, then its index value lies in the range of 0 to 4.
- We can fetch only those values from a list that are in the range of index values of it.
- We can also get a sub-list of a list by using the slicing in a list.
- We can also fetch the value from a list through negative numbers similar to strings.
- A list of strings can also be created.
- We can also create a list that can store values of different data types.
Like it can store integer value, float value, string value etc, in a single list.
- A list of lists can also be created which means a list can also store different lists in it as well.

#2
- Several operations can also be performed using it and it has many in-built functions and methods to use.
- nums. shows all the functions that are available with the list.
- Ctrl + Space can also be used to show the methods.
- append method is used to add a new value to the end of a list.
- clear will clear the entire list.
- insert method can add a value in between the list at the specified index.
- A particular element can also be deleted through the remove method.
- pop method will also remove the element through the index value and return that deleted element as well.
- If you don't specify the index value in the pop method, it will delete and return the last element from the list.
- del is a command through which you can delete a sub-list or multiple values from a list.
 del list name[start:end]
- extend method is used to add multiple values or a sub-list in a list.
- sort method is used to get listed in the sorted order.
 nums.sort()

#3
- min() function is used to get the minimum value present in a list.
- max() function is used to get the maximum value of a list.
- sum() function returns the sum of all of the values present inside the list.

In [32]:
nums = [25,12,36,49,71]
nums

[25, 12, 36, 49, 71]

In [33]:
nums[0]

25

In [34]:
nums[2:]

[36, 49, 71]

In [35]:
names = ['i','a','e']
names

['i', 'a', 'e']

In [36]:
values = [8.0,'u',55]
values

[8.0, 'u', 55]

In [37]:
mil = [nums,names]
mil

[[25, 12, 36, 49, 71], ['i', 'a', 'e']]

In [38]:
nums.append(71)
nums

[25, 12, 36, 49, 71, 71]

In [39]:
nums.remove(71)
nums

[25, 12, 36, 49, 71]

In [40]:
nums.insert(2,10)
nums

[25, 12, 10, 36, 49, 71]

In [41]:
#to remove value based on index number, by default will remove the last value if index is not given
nums.pop(2)
nums

[25, 12, 36, 49, 71]

In [42]:
#delete multiple numbers in a list
del nums[2:]
nums

[25, 12]

In [43]:
#insert multiple values in the list
nums.extend([59,63,17,24,80])
nums

[25, 12, 59, 63, 17, 24, 80]

In [44]:
min(names) #max, sum

'a'

In [45]:
nums.sort()
nums

[12, 17, 24, 25, 59, 63, 80]

## Tuples and Sets

- Tuples re immutable
- Methods used with tuples
- When to use tuples over lists?
- What are Sets in Python?
- Properties of Sets

#1
Tuples:-
Tuple is almost similar to a list in which we can store multiple values.
- Tuples are Immutable and we can change values in them.
- To define a tuple, () round brackets are used.
- We can fetch the values from a tuple using the index value that can be given in a square bracket.
- Tuple will give an error when you tried to change a value in it.

#2
- count method is used to count the occurrences of an element in a tuple. It counts the number of times that an element is present in a tuple.
e.g., If an element of value 5 is present two times in a tuple, then the count method returns 2.

#3
 - We can use tuples when we want a list of multiple values but we do not want to change it.
- Iteration in the tuple is faster than the list.

#4
Sets:-
- Set is a collection of unique elements.
- To define the set, we use the {} curly brackets.
- Set never follows the sequence.
- When we print the set, then the sequence of values in output will be different from the sequence of input.
- Duplicate values present in a set will be printed only once in an output.
- Set uses the concept of Hash. Hash is used to improve the performance as it fetches the values as fast as possible.
- Indexing is not supported in sets as it does not follow sequencing.
- Values can not be changed in a set also because index value is not supported.

In [46]:
tup= (21,67,34,19,80)
tup

(21, 67, 34, 19, 80)

In [47]:
tup[1] #has functions

67

In [48]:
s = {2,19,35,49,67}
s

{2, 19, 35, 49, 67}

## Dictionary:
-- if you want to accessing the data by using key then we are using dictionary
-- Dictionary uses key and value pair
key and value  
in python 
data={1:'Navin',2:'kiran',4:'Harsh'} # 1 is key and Navin is value and 2 is key and kiran is value and 4 is key and Harsh is value

property of dictionary:
-- key must be immutable and unique (immutable means we can't change the value, unique means we can't repeat the key) 
-- value can be anything
-- we can access the value by using key 
-- we can't access the value by using index
-- we can't access the value by using value


fetching the value from dictionary
data[4] # we can access the value by using key here key is 4
data[3] # you get error because key is not present in dictionary

get() method:
-- we can access the value by using get() method
-- if key is present in dictionary then it will return the value
-- if key is not present in dictionary then it will return None
data.get(1) 
data.get(3) # not get  anything 
print(data.get(3)) # it will return None
data.get(1,'Not Found')
data.get(3,'Not Found')

use of zip() method:
-- we can combine the two list by using zip() method
-- it will return the tuple
keys = ['Navin','Kiran','Harsh']
values=['Python','Java','JS']

use of dict() method:
-- we can convert the tuple into dictionary by using dict() method
data=dict(zip(keys,values))
data['Kiran']
data['Monika'] # it will give error because key is not present in dictionary

add the value in dictionary:
data['Monika']='CS'
data

delete the value from dictionary:
del data['Harsh']
 
Nested Dictionary:
-- we can store the dictionary inside the dictionary
prog={'JS':'Atom','CS':'VS','Python':['Pycharm','Sublime'],'Java':{'JSE':'Netbeans','JEE':'Eclipse'}}
prog
prog['JS']
prog['python'][1]
prog['Java']
prog['Java']['JEE']

In [49]:
data = {1:'a', 2:'b',3:'c'}
data

{1: 'a', 2: 'b', 3: 'c'}

In [50]:
data[3]

'c'

In [51]:
data.get(1)

'a'

In [52]:
data.get(4,'na')

'na'

In [53]:
print(data.get(1))

a

In [54]:
pro = ['python','java','sql']
d = dict(zip(names,pro))
d

{'i': 'python', 'a': 'java', 'e': 'sql'}

In [55]:
d['o'] = 'CS'
d

{'i': 'python', 'a': 'java', 'e': 'sql', 'o': 'CS'}

In [56]:
del d['o']
d

{'i': 'python', 'a': 'java', 'e': 'sql'}

In [57]:
prog={'JS':'Atom','CS':'VS','Python':['Pycharm','Sublime'],'Java':{'JSE':'Netbeans','JEE':'Eclipse'}}
prog

{'JS': 'Atom',
 'CS': 'VS',
 'Python': ['Pycharm', 'Sublime'],
 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}

In [58]:
prog.keys()

dict_keys(['JS', 'CS', 'Python', 'Java'])

In [59]:
prog.values()

dict_values(['Atom', 'VS', ['Pycharm', 'Sublime'], {'JSE': 'Netbeans', 'JEE': 'Eclipse'}])

In [60]:
prog['JS']

'Atom'

In [61]:
prog['Python'][1]

'Sublime'

In [62]:
prog['Java']

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}

In [63]:
prog['Java']['JEE']

'Eclipse'

In [64]:
prog.get('JS')

'Atom'

## DataTypes:

Python has several built-in data types. Here are some of the most common ones:

i) NoneType: This is a special data type that represents the absence of a value. It is similar to null in other languages.
ii) Numbers: These can be integers, floating-point numbers, or complex numbers.
iii) Booleans: These are values that represent True or False.
iv) Lists: These are ordered collections of objects, enclosed in square brackets.
v) Tuples: These are similar to lists, but are immutable (i.e., their contents cannot be changed), and are enclosed in parentheses.
vi) Sets: These are unordered collections of unique elements, enclosed in curly braces.
vii) Strings: These are sequences of characters, enclosed in single or double quotes.
viii) Ranges: These are immutable sequences of numbers, and are commonly used to iterate over a sequence of numbers in a for loop.
ix) Dictionaries: These are collections of key-value pairs, enclosed in curly braces.
 

Note:In addition to these built-in data types, Python also allows you to define your own custom data types using classes.

i)None Type
a=None
type(a)

ii)Numbers
int: if you want to assign a integer value to a variable 
a=5
type(a)

float: if you want to assign a float value to a variable 
num =2.5 
type(num) 

complex: if you want to assign a complex value to a variable
num =2+9j 
type(num)

#type conversion:  if you want to convert one data type to another data type 
a=5.6
b=int(a) 
type(b) # output : int
k=float(b) 
type(k) # output : float
c=complex(4,5)
type(c) # output : complex

iii)boolean: if you want to assign a variable with a boolean value
a= True
type(a)  # output : bool
bool=3 less then5 
True 
type(bool)
 

Sequence data types : if you want to assign a variable with multiple values 
List, Tuple, Set, String, Range.

iv) List  if you want to assign a variable with multiple values and you want to change the values 
-- In Python, a list is a collection of ordered and mutable elements enclosed
in square brackets. Lists are one of the most commonly used data structures in 
Python because of their versatility and flexibility.

lst=[25,36,45,12]
type(lst) # output : list


v) Tuple:  if you want to assign a variable with multiple values and you donot want to change the values make immutable 
-- In Python, a tuple is a collection of ordered and immutable elements enclosed in parentheses. 
Tuples are similar to lists, but they cannot be modified once they are created, which makes them 
useful for storing data that should not be changed during the program's execution.

t=(25,36,45,12,7)
type(t) # output : tuple

vi) Set:  if you want to assign a variable with multiple values and you donot want to change the values and you donot want to duplicate values 
-- In Python, a set is an unordered collection of unique elements enclosed in curly braces.
Sets are useful for storing data that should not contain duplicates, such as a list of
users on a website.

s={25,36,45,12,25,36}
type(s) # output : set
#output: {36, 12, 45, 25}

vii) String: if you want to assign sequence of characters to a variable 
-- In Python, a string is a sequence of characters enclosed in single or double quotes.
Strings are immutable, which means that they cannot be modified once they are created.

str = "hello"
type(str) # output : str

we are not talk about char data type in python
st='a' # every character is a string in python 

viii) Range: if you want to assign a variable with multiple values and you don't want to change the values and you want to generate a sequence of numbers
-- In Python, a range is a sequence of numbers that is immutable and iterable. 
Ranges are commonly used to iterate over a sequence of numbers in a for loop.

range(10) # range data type
type(range(10))  # output : range 
list(range(2,10,2)) # output : [2, 4, 6, 8]

ix) Dictionary:  if you want to assign a variable with multiple values and you donot want to change the values and you want to assign a key to each value 
-- In Python, a dictionary is a collection of key-value pairs enclosed in curly braces.
Dictionaries are useful for storing data that is associated with a key, such as a list of
users on a website and their corresponding email addresses.

d={1:'a',2:'b',3:'c'}
type(d)

d1={'navin':'samsung','rahul':'iphone','kiran':'oneplus'} 
d1.values() # output : dict_values(['samsung', 'iphone', 'oneplus'])
d1.keys()  # output : dict_keys(['navin', 'rahul', 'kiran'])
d['rahul'] #output : 'iphone'
d1.get('kiran') #output : 'oneplus'

In [65]:
a=3
type(a)

int

In [66]:
b=3.5
c=int(a)
c

3

In [67]:
d = complex(a,b)
d

(3+3.5j)

In [68]:
e=a>b
e
#type(e)

False

In [69]:
range(10)

range(0, 10)

In [70]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(2,10,2))

[2, 4, 6, 8]

## Operators

#1
- Types of operators in Python:
1. Arithmetic operators
2. Assignment operators
3. Relational operators
4. Logical operators
5. Unary operators
- Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, division, etc.
- Assignment operation is performed with the help of equal to(=), in which we can assign a value to the variable.
- We can also do the assignment by short-hand which means performing an arithmetic operation and then assigning the value both at the same time.
-  We can also assign the values in one line for two variables.
 a,b = 5,6
- Unary operator takes a single operand in an expression or a statement.
- Comparison can be performed with the help of relational operators.
- Comparison operators return a boolean value or True or False.

#2
- If you want to combine two or more conditions and then check the relation between them, then logical operators are used.
- Logical operators include And, Or and Not.
- Logical operators follow the truth table for And,  Or, and Not operators.
- And the operator returns True when both conditions are true otherwise returns False. 
Or the operator returns True when any of the conditions or both the conditions are True otherwise it returns False.
Not the operator reverses the value of the output.

In [72]:
x=2
y=3

In [73]:
x+y

5

In [74]:
x-y

-1

In [75]:
x*y

6

In [76]:
x/y

0.6666666666666666

In [77]:
x//y

0

In [78]:
x=x+2
x

4

In [79]:
x+=2
x

6

In [80]:
x*=3

In [81]:
x

18

In [82]:
a,b = 5,6
a,b

(5, 6)

In [83]:
b = -b
b

-6

In [84]:
a<8 and b>5

False

In [85]:
a<8 or b>5

True

In [86]:
t = True
not t

False

## Swap two numbers:
-- suppose we have two variables a and b and we want to swap the value of a and b
-- we can do this by directly assigning the value of b to a and a to b lead to loose of value of a and b 
-- we can do this by using temp variable
-- we can do this by using xor operator
-- we can do this by using python technique

In [87]:
# directly assigning leads to loose of value
a=5
b=6
a=b  
print(a)
print(b)
a=5 # resign the value of a to 5

6
6

In [88]:
# use temp variable for swapping
temp=a
a=b
b=temp
print(a)
print(b)

6
5

In [89]:
#without using third variable we can swap the value
a=a+b
b=a-b
a=a-b
print(a)
print(b)

5
6

In [90]:
#use of xor operator for swapping
a=a^b
b=a^b
a=a^b
print(a)
print(b)

6
5

In [91]:
# in python we have another technique
a,b=b,a
print(a)
print(b)

5
6